// _mobile.scss

@media (max-width: 768px) {
  .app-header {
    background-size: cover;
    background-position: right;
    margin: 0 auto;
    color: #fff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;

    &__burger-menu{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__line {
      height: 4px;
      width: 40px;
      background-color: #fff;
      margin: 6px 40px;
    }

    &__header-list{
      & > ul {
      visibility: hidden;
      }
    }

    &__header-content{
      margin: 0;

    }

    &__header-nav{
      padding: 20px;
    }

    
    &__header-content{
      & > h1{
        font-family: 'Oswald', sans-serif;
        font-size: 30px;        }
    }

    &__header-content{
      & > h2{
        color: #fff;
      opacity: 0.7;
      font-size: 15px;
      font-family: 'Source Sans 3', sans-serif;
      padding-bottom: 256px;}
    }

    &__stars {
      position: absolute;
      right: 39px;
    top: -1px;
    width: 706px;
    height: 672px;
      animation: dots 4s infinite alternate;
    }

    @keyframes dots{
      0% {
          transform: translateX(0) scale(1.0);
      }
      100% {
          transform: translateX(-40px) scale(1.1);
      }
  }

    &__rays {
      position: absolute;
      top: 64px;
    right: -5px;
    width: 462px;
    height: 666px;
      animation: blink 4s infinite alternate;
    }

    @keyframes blink{
      0%{
          opacity: 100%;
      }
  
      100%{
          opacity: 0%;
      }
  }

  }

  .app-headline {
    &__headerline-p{
      display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: left;
    padding-left: 27px;
    padding-right: 8px;
    }
  }

  .app-footer {
    &__footer-content{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    &__project {
      padding-bottom: 38px;
    }

    &__footer-padd {
      padding-bottom: 19px;
    }
  }
}

