// _about.scss

.app-about {
  background-image: url(../assets/Third_Img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: $white;
  padding-top: 88px;
  padding-bottom: 86px;

  &__about-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__about-content {
    & > h2{
    font-size: 48px;
    font-family: $font-oswald;
    }
  }
  
  &__about-content {
    & > h3{
      font-size: 24px;
      font-family: $font-source-sans;
    }
  }

  &__player-button{
    transition: all 0.5s ease;
    width: 150px;
    height: 150px;
    background-color: #39C2D7;
    border: solid #39C2D7;
    border-radius: 360px;
    color: $white;
    font-size: 60px;
  }

  &__player-button{
    &:hover{
      background-color: #fff;
      color: #39C2D7;
      border: solid #fff;
    }
  }

  &__player {
    padding-left: 10px;
    padding-top: 5px;
  }
}
