// _footer.scss

.app-footer {
  background-color: $footer-bg-color;
  background-size: cover;
  height: 100%;
  margin: 0 auto;

  &__footer-content {
    display: grid;
    max-width: 1800px;
    grid-template-columns: repeat(7, 1fr);
    padding-bottom: 65px;
    padding-top: 38px;

    
  }
  &__project {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 4px;
    grid-column: 1;

    & > img {
      margin-right: 20px;
    }
  }

  &__footer-content{
    & > p {
      color: rgba(255, 255, 255, 0.40);
      font-family: $font-source-sans;
      margin: 0;
    }
  }

  &__footer-content{
    & > p {
      &:nth-child(4) {
        grid-column: 6;
      }
    }
  }

  &__footer-content{
    & > p {
      &:not(:nth-child(4)) {
        grid-column: 3;
      }
    }
  }

  &__footer-content{
    & > p {
      &:nth-child(1) {
        grid-column: 2;
      }
    }
  }
}
