// _headline.scss

.app-headline {
  background-image: url(../assets/Rectangle_6.png);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  color: $white;
  padding-bottom: 88px;
  padding-top: 65px;

  &__headline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    font-size: 48px;
    color: black;
    font-weight: 700;
  }

  &__headline-content{
    & > h2{
      font-family: 'Oswald', sans-serif;
      font-size: 48px;
    }
  }

  &__headline-content{
    & > h3{
      font-family: 'Source Sans 3', sans-serif;
      font-size: 24px;
    }
  }

  &__headerline-p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px; 
  }

  &__button-read{
    background-color: #55C2D8;
    border: solid #55C2D8;
  border-radius: 18px;
  width: 115px;
  height: 36px;
  font-size: 14px;
  color: white;
  margin-top: 20px;
  font-family: 'Source Sans 3', sans-serif;
  transition: all 1s;
  }

  &__button-read{
    &:hover{
      transition: all 1s;
  transform-origin: left bottom;
  transform: rotate(10deg);
    }
  }
}
