@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,700&family=Source+Sans+3:wght@300&display=swap');

// _header.scss
body, html{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.app-header {
  background-image: url(../assets/Background.jpg); 
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  transform-style: preserve-3d;
  align-content: stretch;
  flex-direction: column;
  align-items: stretch;
  position: relative;

   @media (min-width: 769px) and (max-width: 1511px) {
    &__stars,
    &__rays {
      display: none;
    }
  }

  @media (min-width: 1512px) {
    &__stars {
      display: flex;
      position: absolute;
      top: 25px;
      left: 470px;
      width: 70%;
      height: 90.9%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      z-index: 0;
      align-content: space-between;
      justify-content: space-between;
      animation: dots 4s infinite alternate;
    }

    &__rays {
      display: flex;
      position: absolute;
      top: 88px;
      left: 932px;
      width: 38%;
      height: 853px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      z-index: 2;
      align-content: space-between;
      justify-content: space-between;
      animation: blink 4s infinite alternate;
    }

    @keyframes dots {
      0% {
        transform: translateX(0) scale(1.0);
      }
      100% {
        transform: translateX(-40px) scale(1.1);
      }
    }

    @keyframes blink {
      0% {
        opacity: 100%;
      }
      100% {
        opacity: 0%;
      }
    }
  }

  &__header-nav{
    & > p{
    position: absolute;
    left: 110px;
    font-family: 'Source Sans Pro';
    letter-spacing: 3px;
    font-weight: 600;
    font-style: normal;
    }
  }
  
  &__header-list{
    & > ul{
      margin: 0;
      color: white;
      text-decoration: none;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: center;
      align-items: center;
      gap: 5%;
      padding-top: 20px;
      font-family: 'Source Sans 3', sans-serif;
      text-transform: uppercase;
      font-style: normal;
      letter-spacing: 2.8px;
      line-height: 16px; 
    }
  }
  &__header-list {
    & > ul {
      & > li {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__header-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    transform-style: preserve-3d;
  }

  &__header-content{
    & > img{
      transition: transform 1s ease;
    }
  }

  &__header-content{
    & > img {
      &:hover {
        transform: rotateY(180deg) scale(1.5);
        transition: transform 1s ease;
      }
    }
  }

  &__header-content{
    & > h1{
      font-family: 'Oswald', sans-serif;
      font-size: 60px;
    }
  }

  &__header-content{
    & > h2{
      color: $white;
    opacity: 70%;
    font-size: 30px;
    font-family: 'Source Sans 3', sans-serif;
    padding-bottom: 256px;
    font-weight: 100;
    }
  }

}
  